In [1]:
# Importando as bibliotecas
import pyvis as pv
import networkx as nx
import pandas as pd
import numpy as np
import names

In [2]:
# Criando uma lista de colaboradores
employees = list(set([names.get_full_name() for i in range(1000)]))

# Criando um objeto do tipo dataframe
dataset = pd.DataFrame(employees, columns = ['nome'])

In [13]:
# Criando um dicionário de áreas
areas_dict = {
    'People': 1,
    'FP&A': 1,
    'Engenharia': 6,
    'Customer Success': 3,
    'Comercial': 3,
    'Suporte': 2,
    'Jurídico': 1,
    'TI': 1,
    'Marketing': 1,
    'Operações': 3
}

# Criando as listas das áreas e os pesos
areas = list(areas_dict.keys())
weights = [i/sum(areas_dict.values()) for i in areas_dict.values()]

In [16]:
# Criando uma lista de escolhas ponderadas
areas_list = np.random.choice(areas, len(dataset), weights)

# Incluindo a área no dataset
dataset['area'] = areas_list
dataset

                  nome              area
0      Margot Beaucage  Customer Success
1       Richard Travis  Customer Success
2    James Silverthorn           Suporte
3            Roy Moore          Jurídico
4        Valerie Weiss         Comercial
..                 ...               ...
993      Mattie Nelson        Engenharia
994    Joseph Reynolds            People
995          John Self  Customer Success
996   Jose Worthington  Customer Success
997      Bryan Jozwiak              FP&A

[998 rows x 2 columns]