In [1]:
# Importando as bibliotecas
import pyvis
import networkx
import pandas as pd
import names

In [15]:
# Criando uma lista de colaboradores
employees = list(set([names.get_full_name() for i in range(1000)]))

# Criando um objeto do tipo dataframe
dataset = pd.DataFrame(employees, columns = ['nome'])

In [20]:
# Criando um dicionário de áreas
areas_dict = {
    'People': 1,
    'FP&A': 1,
    'Engenharia': 6,
    'Customer Success': 3,
    'Comercial': 3,
    'Suporte': 2,
    'Jurídico': 1,
    'TI': 1,
    'Marketing': 1,
    'Operações': 3
}

                 nome
0      Anita Anderson
1      Melinda Juarez
2       Sally Szekely
3        Ronald Miner
4          Eric Ching
..                ...
995      Miles Legere
996       Dina Felder
997       James Grosz
998  Pauline Stephens
999   Michael Bejaran

[1000 rows x 1 columns]