In [1]:
import pyvis as pv
import networkx as nx
import plotly.graph_objects as go
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_cytoscape as cyto
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd

In [4]:
raw_data = pd.read_csv("c:/Users/Usuario/Documents/Estudos/Data Science e Programação/Datasets/colaboradores.csv")
raw_data = raw_data[['nome', 'area']]
raw_data

               nome              area
0     Latasha Whitt              FP&A
1     Derrick Allen        Engenharia
2       Vernon Moon        Engenharia
3      Carol Doepke            People
4      David Hudson         Comercial
..              ...               ...
994  Ashley Willard  Customer Success
995  Christin Innes         Comercial
996  Ronald Clement         Comercial
997   Frances Jones           Suporte
998   Kelly Neilson           Suporte

[999 rows x 2 columns]